.welcome_mb{
  &__boxNav{
    bottom: 50px;
  }
  &__descsmall{
    font-size: 9px;
    line-height: 1.2;
    color: #FFFFFF;
    font-family: $font-Gotham-Book;
  }
  &__title{
    color: #EFFCFE;
    font-size: 44px;
    line-height: (47/44);
    font-family: $font-TrashHand;
    text-transform: uppercase;
    text-align: center;
  }
  &__btnInfo{
    width: 56px;
    height: 53px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    $x:20px;
    top: #{$x};
    right: 0;
  }
  &__desc1{
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
    font-family: $font-Gotham-Book;
  }
  &__desc2{
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    font-family: $font-Gotham-Book;
    span{
      color: #FF9494;
      font-family: $font-Gotham-Medium;
    }
  }
  &__desc3{
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    font-family: $font-Gotham-Book;
    text-transform: uppercase;
    span{
      color: #FF9494;
      font-family: $font-Gotham-Medium;
    }
  }
  &__slide1{
    width: 397px;
    height: 146px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  &__slide2{
    width: 507px;
    height: 93px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  &__slide3{
    width: 273px;
    height: 141px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  &__slide4{
    width: 100%;
    padding-top: calc((252/1586)*100%);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  &__slide5{
    width: 131px;
    height: 123px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  &__box1{
    &__txt1{
      display: inline-flex;
      min-height: 28px;
      background: #EBE5D5;
      min-width: 101px;
      align-items: center;
      justify-content: center;
      color: #C42978;
      text-transform: uppercase;
      font-size: 16px;
      font-family: $font-Gotham-Bold;
    }
    &__txt2{
      width: 237px;
      height: 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: center;
      font-family: $font-TrashHand;
      text-transform: uppercase;
      color: #FFFFFF;
      font-size: 34px;
      margin-top: -6px;
    }
  }
}
.welcome{
  &__modal{
    &__slidenav{
      width: 156px;
      height: 56px;
      background-size: 100%;
      @include media-breakpoint-down('s'){
        font-size: 19px !important;
        text-transform: uppercase;
      }
      @include media-breakpoint-up('m'){
        width: 238px;
        height: 90px;
      }
    }
  }
}