.uk{
  &-modal{
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.25);
    padding-top: 0;
    padding-bottom: 0;
    @include media-breakpoint-up('m'){
      backdrop-filter: blur(20px);
      background: rgba(0, 0, 0, 0.6);
      padding: 50px 30px;
    }
    &-full{

    }
    &-close{
      &-default{
        @include media-breakpoint-up('l'){

        }
      }
    }
  }
}